body{
    font-family: 'Merriweather', serif;
    margin: 0px;
    text-align: center;
}

h1{
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-top: 0;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p{
    line-height: 2;
}

a{
    color: #11999E;
    text-decoration: none;
}

hr{
    border-color: lightgray;
    border-style: dotted none none;
    width: 5%;
    border-width: 5px;
    margin: 50px auto;
}

.clr{
    clear: both;
}

/*****************TOP CONTAINER*****************/

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    color: #40514E;
}

.top-container h2{
    font-size: 1.25rem;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

/*****************MIDDLE CONTAINER*****************/

.middle-container{
    margin: 50px 0;
}

.profile-img{
    width: 180px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgb(141, 236, 253);
    margin-bottom: 30px;
}

.intro{
    width: 30%;
    margin: auto;
}

#skill-1-img{
    width: 25%;
    float: left;
    margin-right: 30px;
    background-color: rgb(141, 236, 253);
    padding: 20px;
    border-radius: 50px;
}

#skill-2-img{
    width: 25%;
    float: right;
    margin-left: 30px;
    background-color: rgb(32, 2, 82);
    padding: 20px;
    border-radius: 50px;
}

.skill-row{
    margin: 50px auto;
    width: 50%;
    text-align: left;
}

.skill-row-text{
    padding: 10px 0px;
}

/*****************BOTTOM CONTAINER*****************/

.bottom-container{
    background-color: #66BFBF;
    color: #EAF6F6;
    padding: 50px 0 20px;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 8px;
    background: #66BFBF;
    
}

.btn:hover {
    color: #FFFFFF;
    background: #11999E;
    
}

/*****************FOOTER*****************/

.footer-link{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
}

.footer-link:hover{
    color: #EAF6F6;
}

.copyright{
    font-family: 'Montserrat', sans-serif;
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}